* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.player-register {
    width: 21.875rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.player-register input, .player-register select{
    outline: none;
    margin-bottom: 1rem;
}

#playerNumber {
    width: 100px;
}

.btn {
    display: flex;
    gap: 1rem;
}
button {
    border: none;
    background-color: rgb(228, 180, 196);
    width: 200px;
    height: 2rem;
    cursor: pointer;
}

table {
    margin-left: 1rem;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

th{
    padding: 3px 1rem;
    text-align: center;
}

td {
    padding: 3px 5px;
    text-align: center;
}
#th-player {
    width: 200px;
} 

.align-left{
    text-align: start;
}